
:root {
  --app-height: 100%;
}


/* semantic color variables for this project */
:root {
  --color-background: var(--c-white);
  --color-text : var(--c-main);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--c-main);
    --color-text : var(--c-white);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
  outline-offset: var(--space-xs);
  outline-color: var(--c-primary);
  outline-width: 2px;
}
*:focus {
  outline-style: solid;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color var(--speed-n), background-color var(--speed-n);
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: var(--font-size);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #app {
  padding: 0;
  margin: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  height: var(--app-height);
}

*:disabled {
  opacity: 0.5;
  pointer-events: none;
}
